*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header{
    width:100%;
    height:70px;
    /*background-color: #9cd4e6;*/
    border-bottom:2px solid rgba(173, 216, 230, 0.51);
    display: grid;
    grid-template-columns:100px 550px 100px 130px 130px 130px;
    align-content: center;
    justify-content: center;
    color: #4e858d;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

header div a{
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

header div a:hover{
    color: rgba(144, 184, 168, 0.76);
}

.data_profile{
    width:350px;
    height:500px;
    margin:0 auto;
    display: grid;
    align-content: center;
    justify-content: center;
    /*grid-gap: 5px;*/
}

.data_profile div{
    display: grid;
    justify-content: center;
}

.img_profile_div{
    width:100%;
    height:150px;
}

.error_image{
    width:100%;
    height:20px;
    color:#ff225c;
    font-size: 13px;
}

.img_profile_div form{
    width:100%;
    height:150px;
    margin:0 auto;
    display: grid;
    grid-template-columns: auto;
    /*align-content: center;*/
    justify-content: center;
    grid-gap: 10px;
    align-content: center;
}

.image_add{
    width:150px;
    height:40px;
    background-color: #ff3331;
    position: relative;
    top:124px;
    display: grid;
    align-content: center;
    margin:0 auto;
    color:white;
    font-weight:bold;
    font-size: 15px;

}

.img_profile_div form input{
    width:150px;
    height:40px;
    opacity:0;
    z-index:1;
}

.img_profile_div form button{
    width:150px;
    height:40px;
    border:none;
    background-color: #4e858d;
    transition: 0.4s;
    font-size: 20px;
    font-weight:bold;
    color:white;
    letter-spacing:2px;
}

.img_profile_div form button:hover{
    background-color: #d5ebf2;
    color: #b5b5b5;
    border:2px solid #9daba7;
    cursor:pointer;
    letter-spacing:4px;
    font-size:22px;

}

.img_profile{
    width:250px;
    height:250px;
    /*border: 2px solid;*/
    /*border-radius: 100%;*/
}

.data_profile div h1{
    color: #4e858d;
    letter-spacing: 1px;
    cursor: pointer;
}



.area{
    height:50px;
}

.all_rezume{
    width:90%;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    /*background-color: red;*/
    margin: 0 auto;
    grid-gap:20px;
}

.all_rezume a{
    text-decoration: none;
    transition:0.5s;
}

.all_rezume a:hover{
    opacity: 0.5;
}

.rezume{
    width:350px;
    height:350px;
    background-color: #f7fae7;
    display:grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-gap:10px;
    letter-spacing: 1px;
}

.rezume span{
    font-size:19px;
}

.rezume_show{
    width:500px;
    height:600px;
    /*background-color: #f6f6f6;*/
    display: grid;
    grid-template-columns: auto;
    /*grid-gap: 5px;*/
    margin: 0 auto;
    border:2px solid lightblue;
    border-radius: 10px;
    border-bottom: none;
}

.rezume_show div {
    width:90%;
    font-size: 15px;
    margin:0 auto;
    display:grid;
    grid-template-columns: auto;
    grid-gap: 2px;

}

.rezume_show img{
    width:80px;
    height:70px;
}

.rezume_show div span{
    width:100%;
    font-size: 15px;
    margin:0 auto;

}

.rezume_desciption{
    width:500px;
    margin:0 auto;
    /*background-color: #e8e8e8;*/
    border:2px solid lightblue;
    border-top:none;
    border-radius:10px;

}

.rezume_desciption div{
    width:90%;
    margin:0 auto;

}