*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.form_registration{
    width:500px;
    height:550px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px;
    align-content: center;
    justify-content: center;
    grid-gap:25px;
}

.form_registration h1{
    margin:0 auto;
    color:#757575;
}

.form_registration input{
    width:400px;
    height:30px;
    border: none;
    border-bottom:2px solid lightblue;
    outline: none;
}

.form_registration button{
    width:400px;
    height:45px;
    background-color:lightblue;
    color:white;
    font-weight:bold;
    font-size: 20px;
    letter-spacing: 10px;
    border:2px solid lightblue;
    cursor:pointer;
    transition: 0.5s;
}

.form_registration button:hover{
    background-color:white;
    color:lightblue;
}

.registr_error{
    width:400px;
    height:20px;
    color: #cd5c5f;
    /*border: 0px solid;*/
    /*border-bottom-width: 1px;*/
}



