<template>
    <div class="footer">
         R E Z U M E .am
    </div>
</template>

<script>
    export default {
        name: "FooterComponent.vue"
    }
</script>

<style scoped>
.footer{
    width:100%;
    height:50px;
    background-color: #d5ebf2;
    display:grid;
    align-content:center;
    justify-content: center;
    border-top:2px solid #d5ebf2;
    font-size: 30px;
    font-weight: bold;
    color:white;
    transition: 0.4s;
    position: fixed;
    /*position: absolute;*/
    bottom:0;
}

.footer:hover{
    background-color: white;
    color:#d5ebf2;
    cursor:pointer;
}
</style>