<template>
    <div>
        <div v-bind:class="window">
            <div v-bind:class="window_alert">
                <div v-bind:class="close" @click="exit()">{{pakel}}</div>
                <div v-bind:class="text">{{Hello}}</div>
            </div>
        </div>
        <div class="new_rezume" :id="out">
            <div class="form_rezume" >
                <div class="input_span_rezume">
                    <span> Name `</span>
                    <span class="span_error">{{name_error}}</span>
                    <input type="text" v-on:input="name=$event.target.value">
                </div>
                <div class="input_span_rezume" >
                    <span> Surname `</span>
                    <span class="span_error">{{surname_error}}</span>
                    <input type="text" v-on:input="surname=$event.target.value">
                </div>
                <div class="input_span_rezume" >
                    <span> Age `</span>
                    <span class="span_error">{{age_error}}</span>
                    <input type="number" v-on:input="age=$event.target.value">
                </div>
                <div class="input_span_rezume" >
                    <span> Phone `</span>
                    <span class="span_error">{{phone_error}}</span>
                    <input type="number" v-on:input="phone=$event.target.value">
                </div>
                <div class="input_span_rezume" >
                    <span> Specialty `</span>
                    <span class="span_error">{{specialty_error}}</span>
                    <input type="text" v-on:input="specialty=$event.target.value">
                </div>

                <div class="input_span_rezume" >
                    <span> Foto ` </span>
                    <input type="file"  id="file" ref="foto" v-on:change="handlefileupload()">
                </div>
                <div>
                    <span> Description `</span>
                    <span class="span_error">{{description_error}}</span>
                    <textarea v-on:input="description=$event.target.value"> </textarea>
                </div>
                <div class="button_div">
                    <button  @click="Send_rezume(name,surname,age,specialty, phone ,image,description)" >Send</button>
                </div>
                </div>
        </div>
        <div class="area"></div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                name: "",
                surname:"",
                age:"",
                specialty:"",
                phone:"",
                image:"",
                description:"",
                name_error:"",
                surname_error:"",
                age_error:"",
                phone_error:"",
                specialty_error:"",
                description_error:"",
                window:"",
                window_alert:"",
                close:"",
                text:"",
                Hello:"",
                pakel:"",
                out:"",
                foto:""
            }
        },
         methods:{
            handlefileupload(){
                this.foto = this.$refs.foto.files[0];
            },

             Send_rezume: function (name, surname, age, specialty, phone, image, description) {

                 let formData = new FormData();
                 this.name = name;
                 this.surname = surname;
                 this.age = age;
                 this.specialty = specialty;
                 this.phone = phone;
                 this.image = image;
                 this.description = description;
                 formData.append('image',this.foto);
                 formData.append('name',this.name);
                 formData.append('surname',this.surname);
                 formData.append('age',this.age);
                 formData.append('phone',this.phone);
                 formData.append('specialty',this.specialty);
                 formData.append('description',this.description);

                 if (isNaN(age) || isNaN(phone) || phone <=12 || phone ==="" ||  name.length <= 5 || name.length >= 20 || surname.length >= 20 ||  surname.length <= 5 || age <= 17 || age>=70 || specialty.length >= 20 || description === "" || name === "" || surname === "" || age === "") {
                     if (name === "") {
                         this.name_error = "The name field is required."
                     }else if(name.length <= 5){
                         this.name_error = "Name must be 5 and more letters long"
                     }else if(name.length >= 20){
                         this.name_error = "Name must be 20 letters or less"
                     } else {
                         this.name_error = ""
                     }
                     if (surname === "") {
                         this.surname_error = "The surname field is required."
                     }else if(surname.length <= 5){
                         this.surname_error = "Surname must be 5 and more letters long"
                     }else if(surname.length >= 20){
                         this.surname_error = "Surname must be 20 letters or less"
                     } else {
                         this.surname_error = ""
                     }
                     if (age === "") {
                         this.age_error = "The age field is required."
                     } else if (age <= 17) {
                         this.age_error = "Must be 17 years old"
                     }else if(age >= 70){
                         this.age_error = "Must be less than 70"
                     } else if (isNaN(age)) {
                         this.age_error = "Must be a number"
                     } else {
                         this.age_error = ""
                     }
                     if (phone === "") {
                         this.phone_error = "The phone field is required."
                     } else if (phone <= 12) {
                         this.phone_error = "must be 17 digits"
                     } else if (isNaN(phone)) {
                         this.phone_error = "Must be a number"
                     } else {
                         this.phone_error = ""
                     }
                     if (specialty === "") {
                         this.specialty_error = "The specialty field is required."
                     } else if (specialty.length >= 20) {
                         this.specialty_error = "Must be less than 20 letters"
                     } else {
                         this.specialty_error = ""
                     }
                     if (description === "") {
                         this.description_error = "The description field is required."
                     } else {
                         this.description_error = ""
                     }
                 }
                 else {
                     axios.post('/Rezume', formData, {
                         name: name,
                         surname: surname,
                         age: age,
                         phone:phone,
                         specialty: specialty,
                         description: description
                     },
                     {
                             headers: {
                                 'Content-Type': 'multipart/form-data'
                             },
                     })
                         .then(function (response) {
                             console.log(response);
                         })
                         .catch(function (error) {
                             console.log(error);

                         });

                     this.window = "window";
                     this.window_alert = "window_alert";
                     this.pakel = " X ";
                     this.close = "close";
                     this.text = "text";
                     this.Hello = "Your resume has been successfully sent";
                     this.out = "out"

                 }

             },
             exit(){
                 this.window = "";
                 this.window_alert = "";
                 this.close = "";
                 this.text = "";
                 this.Hello = "";
                 this.pakel = "";
                 this.name_error=null;
                 this.phone_error=null;
                 this.surname_error=null;
                 this.age_error=null;
                 this.specialty_error=null;
                 this.description_error=null;
                 this.out = null;
             }

         }
    }
</script>

<style scoped>

    .new_rezume{
        width:600px;
        height:650px;
        margin:0 auto;
        display: grid;
        grid-template-columns: auto;
        align-content: center;
        font-size:15px;
    }
    #out{
        pointer-events: none;
        cursor: default;
    }

    .window{
        width:100%;
        height:300px;
        /*background-color: red;*/
        position: absolute;
        top:280px;
        display: grid;
        justify-content: center;
        z-index: 0;
    }

    .window_alert{
        width:700px;
        height:300px;
        background-color: #f2f2f2;
        z-index: 1;
        border-radius: 10px;
        border-bottom:2px solid #d5ebf2 ;
        background-color: rgba(223, 245, 255, 0.92);
        color: #8d8d8d;
    }

    .text{
        width:80%;
        height:200px;
        margin:0 auto;
        text-align: center;
        display:grid;
        align-content: center;
        font-size:20px;
        font-weight:bold;
    }

    .close{
        width:30px;
        height:30px;
        position: relative;
        left:670px;
        background-color: #f9f9f9;
        display:grid;
        /*border: 1px solid;*/
        align-content: center;
        justify-content: center;
        cursor:pointer;
        color: #2f2f2f;
    }

    .span_error{
        width:100%;
        height:20px;
        color:red
        /*background-color: red;*/
    }

    .form_rezume{
        width:95%;
        height:640px;
        display: grid;
        align-content: center;
        margin: 0 auto;
        /*background-color: red;*/
        grid-gap:20px;
    }

    .form_rezume div input{
        width:430px;
        height:25px;
        border: none;
        border-bottom:2px solid lightblue;
        display:grid;
        grid-template-columns: auto;
        font-size: 20px;
        outline:none;
    }

    .form_rezume div{
        height:70px;
        display: grid;
        grid-gap: 10px;
        margin: 0 auto;
    }

    /*.textarea_span_rezume{*/

        /*background-color:blue;*/
    /*}*/

    .form_rezume textarea{
        width:430px;
        height:70px;
        /*border: none;*/
        border:2px solid lightblue;
        font-size: 20px;
    }

    .button_div{
        width:100%;
        height:90px;
        /*background-color:blue;*/
        display:grid;
        align-content:flex-end;
        position:relative;
        top:30px;
    }

    .form_rezume button{
        width:430px;
        height:45px;
        /*background-color: lightblue;*/
        margin: 0 auto;
        border:none;
        transition: 0.4s;
        outline: none;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 2px;
        color: rgba(205, 65, 68, 0.82) ;
    }

    .form_rezume button:hover{
        /*border:2px solid lightblue;*/
        background-color: rgba(205, 65, 68, 0.82) ;
        cursor: pointer;
        color: white ;
    }

</style>